<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://tollboothfunctions-v64ais7uqwnps.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/f24aed69-060c-4177-a8a0-df575f75018f/resourceGroups/hands-on-lab-34ZS95KQ7H/providers/Microsoft.Web/sites/TollBoothFunctions-v64ais7uqwnps</ResourceId>
    <UserName>$TollBoothFunctions-v64ais7uqwnps</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://tollboothfunctions-v64ais7uqwnps.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>